body {
    background-color: #FFFFFF;
    opacity: 1;

}

header {
    position: absolute;
    width: 1920px;
    height: 110px;
    left: 0px;
    top: 0px;

    background: #739FE1;
}
/* Group 2 */

#group2 {
    position: absolute;
    width: 1920px;
    height: 110px;
    left: 0px;
    top: 0px;
}