
/* Group 2 */

.group2 {
    position: absolute;
    width: 1920px;
    height: 110px;
    left: 0px;
    top: 0px;
}




/* Rectangle 1 */
.rectangle1 {
    position: absolute;
    width: 1920px;
    height: 110px;
    left: 0px;
    top: 0px;

    background: #739FE1;
}

/* Group 1 */
.group1 {
    position: absolute;
    width: 681.39px;
    height: 44px;
    left: 1111px;
    top: 33px;
} 

/* Portofolio */
.portfolio {
    position: absolute;
    width: 126.47px;
    height: 44px;
    left: 1111px;
    top: 33px;

    font-family: PT Sans Narrow;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 47px;
    text-align: center;

    color: #FFFFFF;
}

/* Blogs */
.blogs {
    position: absolute;
    width: 79.3px;
    height: 44px;
    left: 1271px;
    top: 33px;

    font-family: PT Sans Narrow;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 47px;
    text-align: center;

    color: #FFFFFF;
}



/* Sign Up */

.signup {
    position: absolute;
    width: 104.39px;
    height: 44px;
    left: 1688px;
    top: 33px;

    font-family: PT Sans Narrow;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 47px;
    text-align: center;

    color: #FFFFFF;
}


/* About */
.about {
    position: absolute;
    width: 78.29px;
    height: 44px;
    left: 1384px;
    top: 33px;

    font-family: PT Sans Narrow;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 47px;
    text-align: center;

    color: #FFFFFF;
}




/* Get in touch */
.contact {
    position: absolute;
    width: 158.59px;
    height: 44px;
    left: 1496px;
    top: 33px;

    font-family: PT Sans Narrow;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 47px;
    text-align: center;

    color: #FFFFFF;
}