body {
    margin: 0;
    font: 15px/1.5 Georgia, 'Times New Roman', Times, serif;
    background: #f0f0f0;
}
.container {
    width: 90%;
    margin: 0 auto;
}
header {
    background: #739FE1;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    width: 8%;
}

nav {
    float: right;
    
}

.avatar {
    width: 25px;
    padding: 0px;
    margin-top: 25px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline;
    margin-left: 0px;
    padding-top: 40px;
    padding-right: 25px;
}

nav a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    margin-right: 10px;
}

nav a:hover{
    color: teal;
    font-weight: bold;
} 

.admin-content {
    flex: 8;
    height: 100%;
    padding: 40px 100px 100px;
} 

.admin-content .page-title {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 5px;
}

.admin-content .button {
    background-color: #739FE1;
    color: #FFFFFF;
    text-decoration: none;
    padding: 8px 10px;
    margin-left: 5px;
    margin-top: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
    list-style: none;
}

.admin-content .button .quote:after {
    content: "";
    display: table-column;
    clear: both;
    text-decoration: none;
    list-style: none;
  }

  .content button {
    background-color: #739FE1;
    color: #FFFFFF;
    text-decoration: none;
    padding: 8px 10px;
    margin-left: 0;
    margin-top: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
    list-style: none;
}

.content button .quote:after {
    content: "";
    display: table-column;
    clear: both;
    text-decoration: none;
    list-style: none;
}

.content {
    width: 75%;
    height: 30%;
}

input[type=text], select, textarea {
    width: 250px;
    padding: 5px;
    padding-right: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }

textarea {
    width: 250px;
    padding: 5px;
    padding-right: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }

  input[type=file] {
    width: 250px;
    margin-top: 15px;
    padding-right: auto;
    border-radius: 4px;
    resize: vertical;
  }

footer {

    padding: 1px;
    margin-top: 5%;

    background: #739FE1;
    text-align: left;
    width: 100%;
    float: left;
    height: 5%;
}

footer li {
    float: left;
    display: inline;
    margin-left: 0px;
    padding: 0 10px 0 10px;
}

footer a {
    color: #000000;
    text-decoration: none;
    font-size: 12px;

}